head
    meta(name='X-Frame-Options', content='GOFORIT')
    link(href='http://fonts.googleapis.com/css?family=Prociono', rel='stylesheet')
    link(href='css/grabit.css', rel='stylesheet')
    script(src='https://www.google.com/jsapi?key=ABQIAAAA5GGjd4RvgV9d-9hxb_HgZhQJ9WNOt7mw_MOf5XrYv0XHxTKmqRSMv15dLVZD1izB5LZgAQSRtyjKEw')
    script(src='js/underscore-min.js')
    script(src='js/grabit.js')
    script
        google.load("jquery", "1.7.1");
        google.load("jqueryui", "1.8.16");
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-28047650-1']);
        _gaq.push(['_trackPageview']);
        (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    title tranfert.io
