html
    include includes/head  
    body
        .container(style='display:block;width:850px;height:400px;background-color:#fff;margin-left:auto;margin-right:auto;')
            p
            p <b>Tranfert.io,</b> download from the cloud ! 
            p 
            input(id='_src', name='src', value='http://', size=100, onChange='validateit();', onClick='selectit();') 
            p
            center
                a.myButton(href='#', onClick='grabit();')
                    #label To my computer
                p
            p Or you prefer to <b>tranfert.io</b> your Dropbox, no problem !
            center
                a(href='#', onClick='dropit();', disabled='true')
                    img(src='img/dropbox-sharebox-100px.png')
                p Then click the image
        script
            document.getElementById('_src').focus();
            selectit();
    include includes/foot